/* platforms */
.platforms-titles {
    display: flex;
}

.platforms-heading-main {
    font-size: 1.75rem;
    padding: 2rem;
    padding-bottom: 1rem;
    color: #fff;

    width: calc(73% - 3rem);
    margin-left: 3rem;
}

.platforms-heading-news {
    font-size: 1.75rem;
    padding: 2rem;
    padding-left: 0;
    padding-bottom: 1rem;
    color: #fff;

    width: 25%;
}

.platforms-wrapper {
    display: flex;
}

.platforms-main {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    width: 73%;
}

.platforms-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.platform-card {
    width: 25%;
    position: relative;
}

.platform-card a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.platform-title {
    position: absolute;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9);
    text-align: center;
}

.platform-img {
    width: 100%;
    height: 250px;
    object-fit: fill;
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

.platform-card:hover img,
.platform-card:hover span {
    opacity: 0.8;
    scale: 1.05;
    transition: scale 0.2s ease;
}

.platform-card:hover span {
    opacity: 1;
}

/* Platforms News */

.platforms-news {
    width: 23%;
}

.platforms-news-list {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 0;
}

.platforms-news-item {
    padding-bottom: 1rem;
    border-bottom: 1px dashed rgb(51, 51, 51);
}

.platforms-news-item a {
    font-weight: 500;
    font-size: 1.125rem;
    color: #fff;
}

.platforms-showAll-button {
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: #612feb;
    border-radius: 6px;
    border: none;
    color: #fff;
    font-size: 1.15rem;
}

.platforms-showAll-button:hover {
    background-color: #653ada;
}

.platform-news-info {
    display: flex;
    justify-content: space-between;
}

.platforms-news-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}