.games-section {
    width: 90%;
    margin: auto;

    position: relative;
}

.games-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.games-section-header form {
    margin-bottom: 0;
    display: flex;
    align-items: center;

    position: relative;
}

.games-search-input {
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    width: 315px;
    font-size: 1.25rem;
    border: none;
}

.games-search-input:focus {
    outline: none;
}

.games-search-button {
    cursor: pointer;
    margin-left: 1rem;
    padding: 0.5 1rem;
    font-size: 1.25rem;
    background-color: unset;
    color: #7952e2;

    border: none;

    position: absolute;
    right: 3%;
}

.games-search-button:hover {
    color: #4d4d4d;
}

.games-section-main-wrapper {
    display: flex;
    gap: 2rem;
}

.games-show-options {
    width: 20%;
}

.games-show-options h3 {
    font-size: 1.75rem;
}

.games-show-options-list {
    padding-left: 0;
    margin: 0;
    margin-top: 0.25rem;
}

.games-show-options-item {
    padding-left: 0.5rem;
}

.games-show-options-item a:hover {
    text-decoration: underline;
}

.games-show-options-item a.active {
    color: #fff;
    background-color: unset;
    text-decoration: underline;
    font-weight: bold;
}

.games-show-options-item a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
}

.games-container-wrapper {
    width: 80%;
    padding-top: 0.5rem;
}

.games-heading {
    padding-top: 2rem;
    padding-left: calc(20% + 1.5rem);
    margin-bottom: 2rem;
    color: #fff;

    font-size: 1.75rem;
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1rem;
}

.games-card {
    width: calc(100% / 3 - (4rem / 3));
    margin-bottom: 0.5rem;
}

.games-name {
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: 0;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.games-name a {
    text-decoration: none;
    color: #000;
}
.games-name a:hover {
    color: rgb(88, 88, 88);
    text-decoration: underline;
}

.games-title {
    margin-bottom: 0;
}

.games-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center center;
}

.games-pagination {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #fff;
}

.games-pagination a {
    color: #fff;
}

.games-pagination a:hover {
    color: rgb(150, 223, 252);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0;
    margin-bottom: 2rem;
    padding: 8px;
    border-radius: 10px;
}

.pagination a {
    color: black;
    float: left;
    border-radius: 50%;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pagination a.active {
    background-color: #49bcc6;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination a.prev,
.pagination a.next {
    background-color: #49bcc6;
    color: white;
}

.pagination a.disabled {
    pointer-events: none;
    opacity: 0.6;
}
