.home-heading {
    font-size: 2.75rem;
    font-weight: 900;
    padding: 2rem;
    text-align: center;

    color: #00ffff;
    animation: blue 2s ease-in-out infinite alternate;
    font-weight: 700;

    user-select: none;
}

.home-subheading {
    font-size: 1.75rem;
    width: 100%;
    color: white;
}

.home-subheading.discussions,
.home-subheading.techNews {
    font-size: 1.5rem;
}

.home-divider {
    display: flex;
    gap: 2rem;
}

.home-sidebar {
    width: calc(100% - 66%);
    padding: 2rem;
    padding-right: 5rem;
    border-left: 1px solid rgba(71, 71, 71, 0.2);
    border-top-left-radius: 0.5rem;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.2) 0%, rgba(71, 71, 71, 0.2) 17%, rgba(73, 188, 198, 0.2) 100%);
}

.last-discussions {
    width: 100%;
    /* border: 3px ridge #7952e2; */
    border-radius: 20px;
    margin-bottom: 2rem;
}

.last-discussions h2 {
    margin-bottom: 0.5rem;
}

.last-discussion-list {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.last-discussion-item {
    background: linear-gradient(90deg, rgba(157, 122, 255, 1) 0%, rgba(157, 122, 255, 0.6) 70%, rgba(157, 122, 255, 0.4) 100%);
    padding: 0.75rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    color: #fff;
    border-bottom-right-radius: 9999px;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); */
}


.last-discussion-item a {
    text-decoration: none;
}

.last-discussion-title {
    font-size: 1.25rem;
    color: #fff;
    text-decoration: underline;
}

.last-discussion-date {
    font-size: 0.75rem;
    color: #fff;
    font-style: italic;
}

@keyframes blue {
    from {
        text-shadow: 0 0 10px #00ffff, 0 0 20px #000, 0 0 30px #00ffff, 0 0 40px #9d7aff, 0 0 70px #9d7aff, 0 0 80px #9d7aff, 0 0 100px #9d7aff, 0 0 150px #9d7aff;
    }

    to {
        text-shadow: 0 0 5px #00ffff, 0 0 10px #000, 0 0 15px #00ffff, 0 0 20px #9d7aff, 0 0 35px #9d7aff, 0 0 40px #9d7aff, 0 0 50px #9d7aff, 0 0 75px #9d7aff;
    }
}