.navbar {
    background-color: #7952e2;
    position: relative;
    z-index: 100;
    box-shadow: 0px 10px 12px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 10px 12px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 12px -10px rgba(0, 0, 0, 0.75);
    max-height: 62px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.navbar-link {
    text-decoration: none;
}

.navbar-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand-logo {
    width: 3.25rem;
    margin-right: 0.75rem;
}

.navbar-brand-name {
    width: 8.5rem;
}

.navbar-logo-title {
    font-size: 2rem;
    color: #fff;
}

.navbar-logo-title a {
    color: #fff;
}

.navbar-list,
.user-nav-list {
    display: flex;
    gap: 1.5rem;
}

.user-nav-list {
    padding-left: 0;
}

.navbar-item:first-of-type {
    display: flex;
    align-items: center;
}

.navbar-item a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #fff;
    font-weight: 500;
}

.navbar-item a.active {
    background-color: unset;
    text-decoration: underline;
}

.navbar-item a:hover {
    text-decoration: underline;
}

.navbar-item-username {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #00ffff;
}

.navbar-logout-form {
    margin: 0;
}

.logout-btn {
    text-decoration: none;
    font-size: 1.25rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border: none;
    background: none;

    line-height: 1.45;
    position: relative;
}

.logout-btn:hover {
    text-decoration: underline;
}

.logout-btn:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    color: #fff;
    transition: opacity 1s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 30%;
    top: 50%;
    font-size: 0.9rem;
    width: 100px;
}

.logout-btn:hover:before {
    opacity: 1;
    visibility: visible;
}