.myDiscussions-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.myDiscussions-container {
    width: 75%;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
}

.myDiscussions-all-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.myDiscussion-container {
    padding: 0.75rem;
    background: linear-gradient(90deg, rgba(40, 178, 218, 1) 0%, rgba(157, 122, 255, 0.2) 95%, rgba(169, 107, 209, 0.1) 100%);
    color: #fff;
    border-radius: 0.5rem;
    text-decoration: none;

    box-shadow: 0px 0px 3px 1px rgba(74, 45, 151, 0.5);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(74, 45, 151, 0.5);
    -moz-box-shadow: 0px 0px 3px 1px rgba(74, 45, 151, 0.5);

    display: flex;
    justify-content: space-between;
}

.myDiscussion-card {
    color: #fff;
    width: 85%;

    border-right: 1px solid #7242f8;
}

.myDiscussions-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.discussion-likes-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myDiscussion-likes-count {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.discussione-up-button,
.discussione-down-button {
    background-color: unset;
    color: #fff;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 100;
}

.myDiscussion-likes-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
}

.liked {
    color: greenyellow;
}

.disliked {
    color: red;
}